In [ ]:
import pandas as pd
import numpy as np

In [84]:
import math as ma

In [3]:
tab1 = pd.read_excel('C:\\Users\\arsam\\Desktop\\cointab_datset\\Company X - Order Report.xlsx')
tab2 = pd.read_excel('C:\\Users\\arsam\\Desktop\\cointab_datset\\Company X - Pincode Zones.xlsx')
tab3 = pd.read_excel('C:\\Users\\arsam\\Desktop\\cointab_datset\\Company X - SKU Master.xlsx')
tab4 =pd.read_excel('C:\\Users\\arsam\\Desktop\\cointab_datset\\Courier Company - Invoice.xlsx')
tab5 = pd.read_excel('C:\\Users\\arsam\\Desktop\\cointab_datset\\Courier Company - Rates.xlsx')

In [14]:
tab1

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.)
0,2001827036,8904223818706,1,COD,233
1,2001827036,8904223819093,1,COD,233
2,2001827036,8904223819109,1,COD,233
3,2001827036,8904223818430,1,COD,470
4,2001827036,8904223819277,1,COD,233
...,...,...,...,...,...
395,2001806229,8904223818942,1,COD,286
396,2001806229,8904223818850,1,COD,563
397,2001806226,8904223818850,2,COD,1125
398,2001806210,8904223816214,1,COD,402
399,2001806210,8904223818874,1,COD,922

In [6]:
tab1.shape

(400, 5)

In [15]:
tab2

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [16]:
tab3

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [17]:
tab4

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,140.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,101.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,95.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,47.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,65.4

In [96]:
tab4['Charged Weight'].unique()

array([1.3 , 1.  , 2.5 , 0.15, 1.15, 0.5 , 0.79, 0.72, 1.08, 1.28, 0.2 ,
       0.86, 1.2 , 0.7 , 0.6 , 0.99, 0.8 , 1.6 , 1.13, 2.92, 0.68, 0.71,
       0.78, 1.27, 0.69, 1.16, 2.86, 1.35, 1.64, 0.67, 2.  , 1.5 , 3.  ,
       1.7 , 0.77, 0.76, 0.59, 2.94, 0.61, 2.1 , 1.1 , 0.3 , 1.02, 2.28,
       0.74, 4.13, 0.73, 1.04, 1.63, 2.47, 0.82, 0.66, 1.86, 2.27])

In [18]:
tab5

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.25,29.5,23.6,13.6,23.6
1,B,0.50,33.0,28.3,20.5,28.3
2,C,0.75,40.1,38.9,31.9,38.9
3,D,1.25,45.4,44.8,41.3,44.8
4,E,1.50,56.6,55.5,50.7,55.5

In [19]:
new1 = pd.merge(tab1,tab3, on = 'SKU',how = 'inner')

In [20]:
new1

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),Weight (g)
0,2001827036,8904223818706,1,COD,233,127
1,2001821995,8904223818706,1,Prepaid,233,127
2,2001819252,8904223818706,1,Prepaid,233,127
3,2001816996,8904223818706,1,Prepaid,233,127
4,2001814580,8904223818706,1,COD,233,127
...,...,...,...,...,...,...
396,2001806616,8904223819123,1,COD,442,250
397,2001806567,8904223815804,1,COD,834,160
398,2001806567,8904223818577,1,COD,946,150
399,2001806408,8904223819437,2,Prepaid,1843,552
400,2001806232,8904223818645,6,COD,1673,137

In [22]:
new2 = pd.merge(new1,tab4[['Order ID','Charged Weight']], left_on = 'ExternOrderNo', right_on ='Order ID', how = 'inner')

In [23]:
new2

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),Weight (g),Order ID,Charged Weight
0,2001827036,8904223818706,1,COD,233,127,2001827036,1.60
1,2001827036,8904223819093,1,COD,233,150,2001827036,1.60
2,2001827036,8904223819109,1,COD,233,100,2001827036,1.60
3,2001827036,8904223818430,1,COD,470,165,2001827036,1.60
4,2001827036,8904223819277,1,COD,233,350,2001827036,1.60
...,...,...,...,...,...,...,...,...
396,2001806251,8904223819161,1,Prepaid,810,115,2001806251,1.27
397,2001806251,8904223819260,1,Prepaid,676,130,2001806251,1.27
398,2001806233,8904223819161,1,Prepaid,810,115,2001806233,0.78
399,2001806233,8904223819260,1,Prepaid,676,130,2001806233,0.78
400,2001807328,8904223818997,1,COD,233,490,2001807328,2.28

In [24]:
new2 = new2[['ExternOrderNo','SKU','Order Qty','Payment Mode','Item Price(Per Qty.)','Weight (g)','Charged Weight']]

In [25]:
new2

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),Weight (g),Charged Weight
0,2001827036,8904223818706,1,COD,233,127,1.60
1,2001827036,8904223819093,1,COD,233,150,1.60
2,2001827036,8904223819109,1,COD,233,100,1.60
3,2001827036,8904223818430,1,COD,470,165,1.60
4,2001827036,8904223819277,1,COD,233,350,1.60
...,...,...,...,...,...,...,...
396,2001806251,8904223819161,1,Prepaid,810,115,1.27
397,2001806251,8904223819260,1,Prepaid,676,130,1.27
398,2001806233,8904223819161,1,Prepaid,810,115,0.78
399,2001806233,8904223819260,1,Prepaid,676,130,0.78
400,2001807328,8904223818997,1,COD,233,490,2.28

In [28]:
new2['weight_in(kg)'] = new2['Weight (g)'] /1000

In [29]:
new2

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),Weight (g),Charged Weight,weight_in(kg)
0,2001827036,8904223818706,1,COD,233,127,1.60,0.127
1,2001827036,8904223819093,1,COD,233,150,1.60,0.150
2,2001827036,8904223819109,1,COD,233,100,1.60,0.100
3,2001827036,8904223818430,1,COD,470,165,1.60,0.165
4,2001827036,8904223819277,1,COD,233,350,1.60,0.350
...,...,...,...,...,...,...,...,...
396,2001806251,8904223819161,1,Prepaid,810,115,1.27,0.115
397,2001806251,8904223819260,1,Prepaid,676,130,1.27,0.130
398,2001806233,8904223819161,1,Prepaid,810,115,0.78,0.115
399,2001806233,8904223819260,1,Prepaid,676,130,0.78,0.130
400,2001807328,8904223818997,1,COD,233,490,2.28,0.490

In [37]:
new3 = pd.merge(tab4[['Order ID','Warehouse Pincode','Customer Pincode','Zone']] ,tab2, 
                on=['Warehouse Pincode','Customer Pincode'],
                how = 'inner',suffixes=('_asper_courier','_asper_compX'))

In [38]:
new3

,Order ID,Warehouse Pincode,Customer Pincode,Zone_asper_courier,Zone_asper_compX
0,2001806232,121003,507101,d,d
1,2001806273,121003,486886,d,d
2,2001806408,121003,532484,d,d
3,2001806458,121003,143001,b,b
4,2001807012,121003,515591,d,d
...,...,...,...,...,...
169,2001811305,121003,302020,d,b
170,2001811305,121003,302020,d,b
171,2001812941,121003,325207,d,b
172,2001809383,121003,303702,d,b
173,2001820978,121003,313301,d,b

In [32]:
incorrect = new3[''] != new3['Zone_y']
new3[incorrect]

       Order ID  Warehouse Pincode  Customer Pincode Zone_x Zone_y
63   2001806471             121003            313027      d      b
64   2001807241             121003            341001      d      b
65   2001807981             121003            332715      d      b
66   2001808286             121003            302031      d      b
67   2001808286             121003            302031      d      b
..          ...                ...               ...    ...    ...
169  2001811305             121003            302020      d      b
170  2001811305             121003            302020      d      b
171  2001812941             121003            325207      d      b
172  2001809383             121003            303702      d      b
173  2001820978             121003            313301      d      b

[111 rows x 5 columns]

In [33]:
new3.isnull().sum()

Order ID             0
Warehouse Pincode    0
Customer Pincode     0
Zone_x               0
Zone_y               0
dtype: int64

In [39]:
new4 = new3.drop_duplicates()

In [40]:
new4

,Order ID,Warehouse Pincode,Customer Pincode,Zone_asper_courier,Zone_asper_compX
0,2001806232,121003,507101,d,d
1,2001806273,121003,486886,d,d
2,2001806408,121003,532484,d,d
3,2001806458,121003,143001,b,b
4,2001807012,121003,515591,d,d
...,...,...,...,...,...
167,2001811039,121003,302020,d,b
169,2001811305,121003,302020,d,b
171,2001812941,121003,325207,d,b
172,2001809383,121003,303702,d,b
173,2001820978,121003,313301,d,b

In [41]:
incorrect = new4['Zone_asper_courier'] != new4['Zone_asper_compX']
new4[incorrect]

,Order ID,Warehouse Pincode,Customer Pincode,Zone_asper_courier,Zone_asper_compX
63,2001806471,121003,313027,d,b
64,2001807241,121003,341001,d,b
65,2001807981,121003,332715,d,b
66,2001808286,121003,302031,d,b
68,2001808837,121003,302031,d,b
...,...,...,...,...,...
167,2001811039,121003,302020,d,b
169,2001811305,121003,302020,d,b
171,2001812941,121003,325207,d,b
172,2001809383,121003,303702,d,b
173,2001820978,121003,313301,d,b

> so from the above analysis it is clear that for in nearly 65 orders the zone as per couriercompany is different from zone as per companyX.
so it is clear that courier company gives wrong zone value for some orders.

In [42]:
tab2

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [46]:
new4.reset_index(drop=True,inplace=True)

In [47]:
new4

,Order ID,Warehouse Pincode,Customer Pincode,Zone_asper_courier,Zone_asper_compX
0,2001806232,121003,507101,d,d
1,2001806273,121003,486886,d,d
2,2001806408,121003,532484,d,d
3,2001806458,121003,143001,b,b
4,2001807012,121003,515591,d,d
...,...,...,...,...,...
119,2001811039,121003,302020,d,b
120,2001811305,121003,302020,d,b
121,2001812941,121003,325207,d,b
122,2001809383,121003,303702,d,b
123,2001820978,121003,313301,d,b

In [48]:
tab5

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.25,29.5,23.6,13.6,23.6
1,B,0.50,33.0,28.3,20.5,28.3
2,C,0.75,40.1,38.9,31.9,38.9
3,D,1.25,45.4,44.8,41.3,44.8
4,E,1.50,56.6,55.5,50.7,55.5

In [49]:
tab1

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.)
0,2001827036,8904223818706,1,COD,233
1,2001827036,8904223819093,1,COD,233
2,2001827036,8904223819109,1,COD,233
3,2001827036,8904223818430,1,COD,470
4,2001827036,8904223819277,1,COD,233
...,...,...,...,...,...
395,2001806229,8904223818942,1,COD,286
396,2001806229,8904223818850,1,COD,563
397,2001806226,8904223818850,2,COD,1125
398,2001806210,8904223816214,1,COD,402
399,2001806210,8904223818874,1,COD,922

In [50]:
tab1['ExternOrderNo'].duplicated().any()

True

In [51]:
tab1['ExternOrderNo'].duplicated().sum()

276

In [52]:
newtab1 = tab1.drop_duplicates()
newtab1

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.)
0,2001827036,8904223818706,1,COD,233
1,2001827036,8904223819093,1,COD,233
2,2001827036,8904223819109,1,COD,233
3,2001827036,8904223818430,1,COD,470
4,2001827036,8904223819277,1,COD,233
...,...,...,...,...,...
395,2001806229,8904223818942,1,COD,286
396,2001806229,8904223818850,1,COD,563
397,2001806226,8904223818850,2,COD,1125
398,2001806210,8904223816214,1,COD,402
399,2001806210,8904223818874,1,COD,922

In [55]:
tab1[tab1.duplicated()]

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.)
110,2001811363,8904223815859,1,Prepaid,951
317,2001806885,8904223819499,2,COD,1920

In [59]:
new5 = pd.merge(new2[['ExternOrderNo','SKU','Order Qty','Charged Weight','weight_in(kg)']],new4[['Order ID','Zone_asper_courier','Zone_asper_compX']],
            left_on = 'ExternOrderNo', right_on ='Order ID', how = 'inner'
               )

In [60]:
new5

,ExternOrderNo,SKU,Order Qty,Charged Weight,weight_in(kg),Order ID,Zone_asper_courier,Zone_asper_compX
0,2001827036,8904223818706,1,1.60,0.127,2001827036,b,e
1,2001827036,8904223819093,1,1.60,0.150,2001827036,b,e
2,2001827036,8904223819109,1,1.60,0.100,2001827036,b,e
3,2001827036,8904223818430,1,1.60,0.165,2001827036,b,e
4,2001827036,8904223819277,1,1.60,0.350,2001827036,b,e
...,...,...,...,...,...,...,...,...
396,2001806251,8904223819161,1,1.27,0.115,2001806251,d,d
397,2001806251,8904223819260,1,1.27,0.130,2001806251,d,d
398,2001806233,8904223819161,1,0.78,0.115,2001806233,b,b
399,2001806233,8904223819260,1,0.78,0.130,2001806233,b,b
400,2001807328,8904223818997,1,2.28,0.490,2001807328,d,b

In [ ]:
temp5 = tab5.copy()

temp5['Zone'] = temp5['Zone'].str.lower()

temp5

In [67]:
new6 = pd.merge(new5,temp5[['Zone','Weight Slabs']],left_on='Zone_asper_compX',right_on='Zone',how = 'inner')

In [68]:
new6

,ExternOrderNo,SKU,Order Qty,Charged Weight,weight_in(kg),Order ID,Zone_asper_courier,Zone_asper_compX,Zone,Weight Slabs
0,2001827036,8904223818706,1,1.60,0.127,2001827036,b,e,e,1.50
1,2001827036,8904223819093,1,1.60,0.150,2001827036,b,e,e,1.50
2,2001827036,8904223819109,1,1.60,0.100,2001827036,b,e,e,1.50
3,2001827036,8904223818430,1,1.60,0.165,2001827036,b,e,e,1.50
4,2001827036,8904223819277,1,1.60,0.350,2001827036,b,e,e,1.50
...,...,...,...,...,...,...,...,...,...,...
396,2001809917,8904223819512,1,0.60,0.210,2001809917,d,d,d,1.25
397,2001809917,8904223819499,1,0.60,0.210,2001809917,d,d,d,1.25
398,2001809917,8904223819505,1,0.60,0.210,2001809917,d,d,d,1.25
399,2001806251,8904223819161,1,1.27,0.115,2001806251,d,d,d,1.25
400,2001806251,8904223819260,1,1.27,0.130,2001806251,d,d,d,1.25

In [69]:
new6['Order Qty'].unique()

array([1, 2, 4, 8, 3, 6], dtype=int64)

In [76]:
new6[new6['Order Qty']==2]

,ExternOrderNo,SKU,Order Qty,Charged Weight,weight_in(kg),Order ID,Zone_asper_courier,Zone_asper_compX,Zone,Weight Slabs
7,2001827036,8904223818638,2,1.60,0.137,2001827036,b,e,e,1.50
19,2001811604,8904223818669,2,0.80,0.240,2001811604,b,e,e,1.50
71,2001809592,8904223818683,2,1.50,0.121,2001809592,b,b,b,0.50
102,2001807956,8904223819246,2,1.08,0.290,2001807956,b,b,b,0.50
126,2001806776,8904223818638,2,2.86,0.137,2001806776,b,b,b,0.50
132,2001806471,8904223818706,2,1.70,0.127,2001806471,d,b,b,0.50
134,2001806471,8904223818850,2,1.70,0.240,2001806471,d,b,b,0.50
136,2001806471,8904223818942,2,1.70,0.133,2001806471,d,b,b,0.50
149,2001816131,8904223816665,2,0.70,0.102,2001816131,d,b,b,0.50
151,2001812854,8904223819024,2,2.94,0.112,2001812854,d,b,b,0.50
152,2001812854,8904223819291,2,2.94,0.112,2001812854,d,b,b,0.50
153,2001812854,8904223819031,2,2.94,0.112,2001812854,d,b,b,0.50
161,2001810549,8904223818638,2,1.86,0.137,2001810549,d,b,b,0.50
165,2001821502,8904223819024,2,0.60,0.112,2001821502,d,b,b,0.50
166,2001821502,8904223819031,2,0.60,0.112,2001821502,d,b,b,0.50
170,2001817093,8904223819024,2,1.30,0.112,2001817093,b,b,b,0.50
171,2001817093,8904223819291,2,1.30,0.112,2001817093,b,b,b,0.50
172,2001817093,8904223819031,2,1.30,0.112,2001817093,b,b,b,0.50
179,2001807415,8904223818850,2,1.00,0.240,2001807415,b,b,b,0.50
188,2001822466,8904223819468,2,1.10,0.240,2001822466,d,b,b,0.50
191,2001821185,8904223818942,2,2.10,0.133,2001821185,d,b,b,0.50
192,2001821185,8904223818683,2,2.10,0.121,2001821185,d,b,b,0.50
215,2001821766,8904223818591,2,0.20,0.120,2001821766,d,b,b,0.50
240,2001808801,8904223817273,2,0.80,0.065,2001808801,d,b,b,0.50
241,2001808801,8904223815866,2,0.80,0.113,2001808801,d,b,b,0.50
260,2001806885,8904223819499,2,1.00,0.210,2001806885,b,b,b,0.50
261,2001806885,8904223819499,2,1.00,0.210,2001806885,b,b,b,0.50
267,2001809820,8904223819024,2,3.00,0.112,2001809820,d,d,d,1.25
268,2001809820,8904223819031,2,3.00,0.112,2001809820,d,d,d,1.25
279,2001808542,8904223818706,2,0.86,0.127,2001808542,d,d,d,1.25
280,2001808542,8904223819468,2,0.86,0.240,2001808542,d,d,d,1.25
334,2001823564,8904223819024,2,0.70,0.112,2001823564,d,d,d,1.25
335,2001823564,8904223819291,2,0.70,0.112,2001823564,d,d,d,1.25
336,2001823564,8904223819031,2,0.70,0.112,2001823564,d,d,d,1.25
337,2001811192,8904223819024,2,1.13,0.112,2001811192,d,d,d,1.25
338,2001811192,8904223819291,2,1.13,0.112,2001811192,d,d,d,1.25
339,2001811192,8904223819031,2,1.13,0.112,2001811192,d,d,d,1.25
343,2001808102,8904223819024,2,1.28,0.112,2001808102,d,d,d,1.25
344,2001808102,8904223819291,2,1.28,0.112,2001808102,d,d,d,1.25
345,2001808102,8904223819031,2,1.28,0.112,2001808102,d,d,d,1.25
350,2001807362,8904223819024,2,2.00,0.112,2001807362,d,d,d,1.25
351,2001807362,8904223819291,2,2.00,0.112,2001807362,d,d,d,1.25
353,2001807362,8904223819031,2,2.00,0.112,2001807362,d,d,d,1.25
367,2001806408,8904223819437,2,2.50,0.552,2001806408,d,d,d,1.25
379,2001806226,8904223818850,2,0.68,0.240,2001806226,d,d,d,1.25
382,2001806232,8904223819147,2,1.30,0.240,2001806232,d,d,d,1.25
385,2001816684,8904223816214,2,0.99,0.120,2001816684,d,d,d,1.25
386,2001816684,8904223818874,2,0.99,0.100,2001816684,d,d,d,1.25

In [79]:
new6['Total_weight_asper_X(kg)']= new6['weight_in(kg)'] * new6['Order Qty']

In [80]:
new6

,ExternOrderNo,SKU,Order Qty,Charged Weight,weight_in(kg),Order ID,Zone_asper_courier,Zone_asper_compX,Zone,Weight Slabs,Total_weight_asper_X(kg)
0,2001827036,8904223818706,1,1.60,0.127,2001827036,b,e,e,1.50,0.127
1,2001827036,8904223819093,1,1.60,0.150,2001827036,b,e,e,1.50,0.150
2,2001827036,8904223819109,1,1.60,0.100,2001827036,b,e,e,1.50,0.100
3,2001827036,8904223818430,1,1.60,0.165,2001827036,b,e,e,1.50,0.165
4,2001827036,8904223819277,1,1.60,0.350,2001827036,b,e,e,1.50,0.350
...,...,...,...,...,...,...,...,...,...,...,...
396,2001809917,8904223819512,1,0.60,0.210,2001809917,d,d,d,1.25,0.210
397,2001809917,8904223819499,1,0.60,0.210,2001809917,d,d,d,1.25,0.210
398,2001809917,8904223819505,1,0.60,0.210,2001809917,d,d,d,1.25,0.210
399,2001806251,8904223819161,1,1.27,0.115,2001806251,d,d,d,1.25,0.115
400,2001806251,8904223819260,1,1.27,0.130,2001806251,d,d,d,1.25,0.130

In [92]:
weightslab_cal= np.ceil(new6['Total_weight_asper_X(kg)'] / new6['Weight Slabs']) * new6['Weight Slabs']

In [93]:
weightslab_cal

0      1.50
1      1.50
2      1.50
3      1.50
4      1.50
       ...
396    1.25
397    1.25
398    1.25
399    1.25
400    1.25
Length: 401, dtype: float64

In [94]:
new6['Weight slab as per X (KG)'] = np.where(new6['Total_weight_asper_X(kg)'] < new6['Weight Slabs'],
                                             new6['Weight Slabs'],
                                            weightslab_cal)

In [95]:
new6

,ExternOrderNo,SKU,Order Qty,Charged Weight,weight_in(kg),Order ID,Zone_asper_courier,Zone_asper_compX,Zone,Weight Slabs,Total_weight_asper_X(kg),Weight slab as per X (KG)
0,2001827036,8904223818706,1,1.60,0.127,2001827036,b,e,e,1.50,0.127,1.50
1,2001827036,8904223819093,1,1.60,0.150,2001827036,b,e,e,1.50,0.150,1.50
2,2001827036,8904223819109,1,1.60,0.100,2001827036,b,e,e,1.50,0.100,1.50
3,2001827036,8904223818430,1,1.60,0.165,2001827036,b,e,e,1.50,0.165,1.50
4,2001827036,8904223819277,1,1.60,0.350,2001827036,b,e,e,1.50,0.350,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001809917,8904223819512,1,0.60,0.210,2001809917,d,d,d,1.25,0.210,1.25
397,2001809917,8904223819499,1,0.60,0.210,2001809917,d,d,d,1.25,0.210,1.25
398,2001809917,8904223819505,1,0.60,0.210,2001809917,d,d,d,1.25,0.210,1.25
399,2001806251,8904223819161,1,1.27,0.115,2001806251,d,d,d,1.25,0.115,1.25
400,2001806251,8904223819260,1,1.27,0.130,2001806251,d,d,d,1.25,0.130,1.25

In [98]:
new7= pd.merge(new6.drop(columns=['ExternOrderNo','Order Qty','weight_in(kg)','Zone','Weight Slabs']),temp5[['Zone','Weight Slabs']],left_on='Zone_asper_courier',right_on='Zone',how = 'inner')

In [99]:
new7

,SKU,Charged Weight,Order ID,Zone_asper_courier,Zone_asper_compX,Total_weight_asper_X(kg),Weight slab as per X (KG),Zone,Weight Slabs
0,8904223818706,1.60,2001827036,b,e,0.127,1.50,b,0.50
1,8904223819093,1.60,2001827036,b,e,0.150,1.50,b,0.50
2,8904223819109,1.60,2001827036,b,e,0.100,1.50,b,0.50
3,8904223818430,1.60,2001827036,b,e,0.165,1.50,b,0.50
4,8904223819277,1.60,2001827036,b,e,0.350,1.50,b,0.50
...,...,...,...,...,...,...,...,...,...
396,8904223819512,0.60,2001809917,d,d,0.210,1.25,d,1.25
397,8904223819499,0.60,2001809917,d,d,0.210,1.25,d,1.25
398,8904223819505,0.60,2001809917,d,d,0.210,1.25,d,1.25
399,8904223819161,1.27,2001806251,d,d,0.115,1.25,d,1.25
400,8904223819260,1.27,2001806251,d,d,0.130,1.25,d,1.25

In [100]:
new7.rename(columns={'Charged Weight':'Total weight as per Courier Company (KG)'},inplace=True)

In [101]:
new7

,SKU,Total weight as per Courier Company (KG),Order ID,Zone_asper_courier,Zone_asper_compX,Total_weight_asper_X(kg),Weight slab as per X (KG),Zone,Weight Slabs
0,8904223818706,1.60,2001827036,b,e,0.127,1.50,b,0.50
1,8904223819093,1.60,2001827036,b,e,0.150,1.50,b,0.50
2,8904223819109,1.60,2001827036,b,e,0.100,1.50,b,0.50
3,8904223818430,1.60,2001827036,b,e,0.165,1.50,b,0.50
4,8904223819277,1.60,2001827036,b,e,0.350,1.50,b,0.50
...,...,...,...,...,...,...,...,...,...
396,8904223819512,0.60,2001809917,d,d,0.210,1.25,d,1.25
397,8904223819499,0.60,2001809917,d,d,0.210,1.25,d,1.25
398,8904223819505,0.60,2001809917,d,d,0.210,1.25,d,1.25
399,8904223819161,1.27,2001806251,d,d,0.115,1.25,d,1.25
400,8904223819260,1.27,2001806251,d,d,0.130,1.25,d,1.25

In [102]:
courier_weightslab_cal= np.ceil(new7['Total weight as per Courier Company (KG)'] / new7['Weight Slabs']) * new7['Weight Slabs']

In [103]:
courier_weightslab_cal

0      2.00
1      2.00
2      2.00
3      2.00
4      2.00
       ...
396    1.25
397    1.25
398    1.25
399    2.50
400    2.50
Length: 401, dtype: float64

In [104]:
new7['Weight slab charged by Courier Company (KG)'] = np.where(new7['Total weight as per Courier Company (KG)'] < new7['Weight Slabs'],
                                             new7['Weight Slabs'],
                                            courier_weightslab_cal)

In [105]:
new7

,SKU,Total weight as per Courier Company (KG),Order ID,Zone_asper_courier,Zone_asper_compX,Total_weight_asper_X(kg),Weight slab as per X (KG),Zone,Weight Slabs,Weight slab charged by Courier Company (KG)
0,8904223818706,1.60,2001827036,b,e,0.127,1.50,b,0.50,2.00
1,8904223819093,1.60,2001827036,b,e,0.150,1.50,b,0.50,2.00
2,8904223819109,1.60,2001827036,b,e,0.100,1.50,b,0.50,2.00
3,8904223818430,1.60,2001827036,b,e,0.165,1.50,b,0.50,2.00
4,8904223819277,1.60,2001827036,b,e,0.350,1.50,b,0.50,2.00
...,...,...,...,...,...,...,...,...,...,...
396,8904223819512,0.60,2001809917,d,d,0.210,1.25,d,1.25,1.25
397,8904223819499,0.60,2001809917,d,d,0.210,1.25,d,1.25,1.25
398,8904223819505,0.60,2001809917,d,d,0.210,1.25,d,1.25,1.25
399,8904223819161,1.27,2001806251,d,d,0.115,1.25,d,1.25,2.50
400,8904223819260,1.27,2001806251,d,d,0.130,1.25,d,1.25,2.50

In [106]:
new7=new7[['Order ID','SKU','Total_weight_asper_X(kg)','Weight slab as per X (KG)','Total weight as per Courier Company (KG)',
          'Weight slab charged by Courier Company (KG)','Zone_asper_compX','Zone_asper_courier']]

In [107]:
new7

,Order ID,SKU,Total_weight_asper_X(kg),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Zone_asper_compX,Zone_asper_courier
0,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b
1,2001827036,8904223819093,0.150,1.50,1.60,2.00,e,b
2,2001827036,8904223819109,0.100,1.50,1.60,2.00,e,b
3,2001827036,8904223818430,0.165,1.50,1.60,2.00,e,b
4,2001827036,8904223819277,0.350,1.50,1.60,2.00,e,b
...,...,...,...,...,...,...,...,...
396,2001809917,8904223819512,0.210,1.25,0.60,1.25,d,d
397,2001809917,8904223819499,0.210,1.25,0.60,1.25,d,d
398,2001809917,8904223819505,0.210,1.25,0.60,1.25,d,d
399,2001806251,8904223819161,0.115,1.25,1.27,2.50,d,d
400,2001806251,8904223819260,0.130,1.25,1.27,2.50,d,d

In [110]:
temp5

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,a,0.25,29.5,23.6,13.6,23.6
1,b,0.50,33.0,28.3,20.5,28.3
2,c,0.75,40.1,38.9,31.9,38.9
3,d,1.25,45.4,44.8,41.3,44.8
4,e,1.50,56.6,55.5,50.7,55.5

In [111]:
tab4

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,140.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,101.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,95.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,47.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,65.4

In [118]:
tab4['Type of Shipment'].unique()

array(['Forward charges', 'Forward and RTO charges'], dtype=object)

In [120]:
temp6= pd.merge(new7,tab4[['Order ID','Type of Shipment','Billing Amount (Rs.)']],on=['Order ID'],how='inner')

In [121]:
temp6

,Order ID,SKU,Total_weight_asper_X(kg),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Zone_asper_compX,Zone_asper_courier,Type of Shipment,Billing Amount (Rs.)
0,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9
1,2001827036,8904223819093,0.150,1.50,1.60,2.00,e,b,Forward charges,117.9
2,2001827036,8904223819109,0.100,1.50,1.60,2.00,e,b,Forward charges,117.9
3,2001827036,8904223818430,0.165,1.50,1.60,2.00,e,b,Forward charges,117.9
4,2001827036,8904223819277,0.350,1.50,1.60,2.00,e,b,Forward charges,117.9
...,...,...,...,...,...,...,...,...,...,...
396,2001809917,8904223819512,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8
397,2001809917,8904223819499,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8
398,2001809917,8904223819505,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8
399,2001806251,8904223819161,0.115,1.25,1.27,2.50,d,d,Forward charges,135.0
400,2001806251,8904223819260,0.130,1.25,1.27,2.50,d,d,Forward charges,135.0

In [122]:
temp7 = pd.merge(temp6,temp5,left_on='Zone_asper_compX',right_on='Zone',how='inner')

In [123]:
temp7

,Order ID,SKU,Total_weight_asper_X(kg),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Zone_asper_compX,Zone_asper_courier,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5
1,2001827036,8904223819093,0.150,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5
2,2001827036,8904223819109,0.100,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5
3,2001827036,8904223818430,0.165,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5
4,2001827036,8904223819277,0.350,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001809917,8904223819512,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8
397,2001809917,8904223819499,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8
398,2001809917,8904223819505,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8
399,2001806251,8904223819161,0.115,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8
400,2001806251,8904223819260,0.130,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8

In [124]:
temp7['no_of_weightslabs_asperX'] = temp7['Weight slab as per X (KG)']/temp7['Weight Slabs']

In [125]:
temp7

,Order ID,SKU,Total_weight_asper_X(kg),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Zone_asper_compX,Zone_asper_courier,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,no_of_weightslabs_asperX
0,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0
1,2001827036,8904223819093,0.150,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0
2,2001827036,8904223819109,0.100,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0
3,2001827036,8904223818430,0.165,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0
4,2001827036,8904223819277,0.350,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001809917,8904223819512,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0
397,2001809917,8904223819499,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0
398,2001809917,8904223819505,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0
399,2001806251,8904223819161,0.115,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0
400,2001806251,8904223819260,0.130,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0

In [126]:
temp7['no_of_weightslabs_asperX'].unique()

array([1., 2.])

In [127]:
temp7['Type of Shipment'].unique()

array(['Forward charges', 'Forward and RTO charges'], dtype=object)

In [128]:
def fwd_and_rto_charge_cal(df) :
    if df['no_of_weightslabs_asperX']==1:
        if 'Forward charges' in df['Type of Shipment']:
            return df['Forward Fixed Charge']
        else:
            return df['Forward Fixed Charge'] + df['RTO Fixed Charge']
    else:
        if 'Forward charges' in df['Type of Shipment']:
            return df['Forward Fixed Charge'] + ((df['no_of_weightslabs_asperX']-1) * df['Forward Additional Weight Slab Charge'])
        else:
            return df['Forward Fixed Charge'] + ((df['no_of_weightslabs_asperX']-1) * df['Forward Additional Weight Slab Charge'])+df['RTO Fixed Charge'] +((df['no_of_weightslabs_asperX']-1) * df['RTO Additional Weight Slab Charge'])

In [129]:
temp7['fwd_and'] = temp7.apply(fwd_and_rto_charge_cal,axis=1)

In [130]:
temp7

,Order ID,SKU,Total_weight_asper_X(kg),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Zone_asper_compX,Zone_asper_courier,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,no_of_weightslabs_asperX,fwd_and
0,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6
1,2001827036,8904223819093,0.150,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6
2,2001827036,8904223819109,0.100,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6
3,2001827036,8904223818430,0.165,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6
4,2001827036,8904223819277,0.350,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001809917,8904223819512,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7
397,2001809917,8904223819499,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7
398,2001809917,8904223819505,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7
399,2001806251,8904223819161,0.115,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4
400,2001806251,8904223819260,0.130,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4

In [131]:
temp7['fwd_and'].unique()

array([ 56.6, 107.3,  33. ,  61.3,  53.5,  45.4,  86.7])

In [134]:
tab1

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.)
0,2001827036,8904223818706,1,COD,233
1,2001827036,8904223819093,1,COD,233
2,2001827036,8904223819109,1,COD,233
3,2001827036,8904223818430,1,COD,470
4,2001827036,8904223819277,1,COD,233
...,...,...,...,...,...
395,2001806229,8904223818942,1,COD,286
396,2001806229,8904223818850,1,COD,563
397,2001806226,8904223818850,2,COD,1125
398,2001806210,8904223816214,1,COD,402
399,2001806210,8904223818874,1,COD,922

In [135]:
temp7.rename(columns={'fwd_and':' fwd_and_rto_charge'},inplace=True)

In [136]:
temp7

,Order ID,SKU,Total_weight_asper_X(kg),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Zone_asper_compX,Zone_asper_courier,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,no_of_weightslabs_asperX,fwd_and_rto_charge
0,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6
1,2001827036,8904223819093,0.150,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6
2,2001827036,8904223819109,0.100,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6
3,2001827036,8904223818430,0.165,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6
4,2001827036,8904223819277,0.350,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001809917,8904223819512,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7
397,2001809917,8904223819499,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7
398,2001809917,8904223819505,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7
399,2001806251,8904223819161,0.115,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4
400,2001806251,8904223819260,0.130,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4

In [137]:
temp7.duplicated().sum()

3

In [138]:
temp8 = pd.merge(temp7,tab1[['ExternOrderNo','Payment Mode']],left_on='Order ID',right_on='ExternOrderNo',how ='inner')

In [139]:
temp8

,Order ID,SKU,Total_weight_asper_X(kg),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Zone_asper_compX,Zone_asper_courier,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,no_of_weightslabs_asperX,fwd_and_rto_charge,ExternOrderNo,Payment Mode
0,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
1,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
2,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
3,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
4,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1701,2001809917,8904223819505,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7,2001809917,COD
1702,2001806251,8904223819161,0.115,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4,2001806251,Prepaid
1703,2001806251,8904223819161,0.115,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4,2001806251,Prepaid
1704,2001806251,8904223819260,0.130,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4,2001806251,Prepaid
1705,2001806251,8904223819260,0.130,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4,2001806251,Prepaid

In [140]:
temp8['Payment Mode'].unique()

array(['COD', 'Prepaid'], dtype=object)

In [141]:
temp8.duplicated().sum()

1308

In [142]:
tab1.duplicated().sum()

2

In [143]:
temp9 = temp8.drop_duplicates()

In [144]:
temp9

,Order ID,SKU,Total_weight_asper_X(kg),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Zone_asper_compX,Zone_asper_courier,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,no_of_weightslabs_asperX,fwd_and_rto_charge,ExternOrderNo,Payment Mode
0,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
8,2001827036,8904223819093,0.150,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
16,2001827036,8904223819109,0.100,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
24,2001827036,8904223818430,0.165,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
32,2001827036,8904223819277,0.350,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,2001809917,8904223819512,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7,2001809917,COD
1696,2001809917,8904223819499,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7,2001809917,COD
1699,2001809917,8904223819505,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7,2001809917,COD
1702,2001806251,8904223819161,0.115,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4,2001806251,Prepaid
1704,2001806251,8904223819260,0.130,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4,2001806251,Prepaid

In [145]:
temp9.reset_index(drop=True,inplace = True)

In [146]:
temp9

,Order ID,SKU,Total_weight_asper_X(kg),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Zone_asper_compX,Zone_asper_courier,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,no_of_weightslabs_asperX,fwd_and_rto_charge,ExternOrderNo,Payment Mode
0,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
1,2001827036,8904223819093,0.150,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
2,2001827036,8904223819109,0.100,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
3,2001827036,8904223818430,0.165,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
4,2001827036,8904223819277,0.350,1.50,1.60,2.00,e,b,Forward charges,117.9,e,1.50,56.6,55.5,50.7,55.5,1.0,56.6,2001827036,COD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,2001809917,8904223819512,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7,2001809917,COD
394,2001809917,8904223819499,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7,2001809917,COD
395,2001809917,8904223819505,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,d,1.25,45.4,44.8,41.3,44.8,1.0,86.7,2001809917,COD
396,2001806251,8904223819161,0.115,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4,2001806251,Prepaid
397,2001806251,8904223819260,0.130,1.25,1.27,2.50,d,d,Forward charges,135.0,d,1.25,45.4,44.8,41.3,44.8,1.0,45.4,2001806251,Prepaid

In [147]:
tab1

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.)
0,2001827036,8904223818706,1,COD,233
1,2001827036,8904223819093,1,COD,233
2,2001827036,8904223819109,1,COD,233
3,2001827036,8904223818430,1,COD,470
4,2001827036,8904223819277,1,COD,233
...,...,...,...,...,...
395,2001806229,8904223818942,1,COD,286
396,2001806229,8904223818850,1,COD,563
397,2001806226,8904223818850,2,COD,1125
398,2001806210,8904223816214,1,COD,402
399,2001806210,8904223818874,1,COD,922

In [148]:
tab1['Total_order_amount'] = tab1['Item Price(Per Qty.)'] * tab1['Order Qty']

In [162]:
tab1

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),Total_order_amount
0,2001827036,8904223818706,1,COD,233,233
1,2001827036,8904223819093,1,COD,233,233
2,2001827036,8904223819109,1,COD,233,233
3,2001827036,8904223818430,1,COD,470,470
4,2001827036,8904223819277,1,COD,233,233
...,...,...,...,...,...,...
395,2001806229,8904223818942,1,COD,286,286
396,2001806229,8904223818850,1,COD,563,563
397,2001806226,8904223818850,2,COD,1125,2250
398,2001806210,8904223816214,1,COD,402,402
399,2001806210,8904223818874,1,COD,922,922

In [163]:
temp10 = pd.merge(temp9.drop('ExternOrderNo',axis=1),tab1[['ExternOrderNo','SKU','Total_order_amount']],left_on=['Order ID','SKU'],right_on=['ExternOrderNo','SKU'],how ='left')

In [164]:
temp10

,Order ID,SKU,Total_weight_asper_X(kg),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Zone_asper_compX,Zone_asper_courier,Type of Shipment,Billing Amount (Rs.),...,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,no_of_weightslabs_asperX,fwd_and_rto_charge,Payment Mode,ExternOrderNo,Total_order_amount
0,2001827036,8904223818706,0.127,1.50,1.60,2.00,e,b,Forward charges,117.9,...,1.50,56.6,55.5,50.7,55.5,1.0,56.6,COD,2001827036,233
1,2001827036,8904223819093,0.150,1.50,1.60,2.00,e,b,Forward charges,117.9,...,1.50,56.6,55.5,50.7,55.5,1.0,56.6,COD,2001827036,233
2,2001827036,8904223819109,0.100,1.50,1.60,2.00,e,b,Forward charges,117.9,...,1.50,56.6,55.5,50.7,55.5,1.0,56.6,COD,2001827036,233
3,2001827036,8904223818430,0.165,1.50,1.60,2.00,e,b,Forward charges,117.9,...,1.50,56.6,55.5,50.7,55.5,1.0,56.6,COD,2001827036,470
4,2001827036,8904223819277,0.350,1.50,1.60,2.00,e,b,Forward charges,117.9,...,1.50,56.6,55.5,50.7,55.5,1.0,56.6,COD,2001827036,233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2001809917,8904223819512,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,...,1.25,45.4,44.8,41.3,44.8,1.0,86.7,COD,2001809917,534
406,2001809917,8904223819499,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,...,1.25,45.4,44.8,41.3,44.8,1.0,86.7,COD,2001809917,960
407,2001809917,8904223819505,0.210,1.25,0.60,1.25,d,d,Forward and RTO charges,179.8,...,1.25,45.4,44.8,41.3,44.8,1.0,86.7,COD,2001809917,350
408,2001806251,8904223819161,0.115,1.25,1.27,2.50,d,d,Forward charges,135.0,...,1.25,45.4,44.8,41.3,44.8,1.0,45.4,Prepaid,2001806251,810
409,2001806251,8904223819260,0.130,1.25,1.27,2.50,d,d,Forward charges,135.0,...,1.25,45.4,44.8,41.3,44.8,1.0,45.4,Prepaid,2001806251,676

In [165]:
temp10.duplicated().sum()

2

In [158]:
tab1['ExternOrderNo'].duplicated().sum()

276

In [159]:
tab1['SKU'].duplicated().sum()

335

In [160]:
tab1.duplicated().sum()

2

In [166]:
temp10[['Order ID','SKU']].duplicated().sum()

17

In [168]:
tab1[['ExternOrderNo','SKU']].duplicated().sum()

7